.bg-container {
  background-color: #ffc2a0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 40px;
}
.todo-container {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  width: 90%;
  max-width: 1100px;
}

@media screen and (min-width: 768px) {
  .todo-container {
    width: 70%;
  }
}

.heading {
  color: #ff8542;
  text-align: center;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 32px;
  }
}
